<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>
    <link href="css/about.css" rel="stylesheet">
</head>
<body>
    <section>
    <header>
        <nav class="menu"><ul type="none">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">| ABOUT</a></li>
            <li><a href="/music">| MUSIC</a></li>
            <li><a href="/contact">| CONTACT |</a></li>
        </ul></nav>
        <nav class="redes">
            <ul type="none">
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://open.spotify.com/"target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://www.apple.com/la/apple-music/"target="_blank"><i class="fa-brands fa-apple"></i></a></li>
                <li><a href="https://music.amazon.es/"target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
                <li><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </section>
        <br>
        <br>
        <br>
        <h1 class="nombre">ABOUT<br>EMILIA// </h1>
        
        <h3 class="parrafo">"Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album"</h3>
        <h6 class="jhon">-John Tirckle, Music Today Post</h6>
        <br>
        <br>
        <h3 class="parrafo">"Emilia Cole is one of the <br>scene's breakout stars "</h3>
        <h6 class="jhon">-John Tirckle, Music Today Post</h6>
    </header>
    
    
</body>
</html>