<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>
</head>
<body>
  <img src="img/emilia-music-top.jpg" alt="Foto de Emilia">
    <header id="GoTop">
        <nav>
            <ul type="none">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav>
            <ul type="none">
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://open.spotify.com/"target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://www.apple.com/la/apple-music/"target="_blank"><i class="fa-brands fa-apple"></i></a></li>
                <li><a href="https://music.amazon.es/"target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
                <li><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
        

        
        <h1>MUSIC// </h1>
        </header>
            <ul type="none">
                <li><h6><a>Direct links</a></h6></li>
                <li><h6><a href="#ALBUM">Album</a></h6></li>
                <li><h6><a href="#VIDEO1">Video: Organic Love</a></h6></li>
                <li><h6><a href="#VIDEO2">Video:Street Light</a></h6></li>
            </ul>
        <section>
            <article id="ALBUM">
                <h3>ALBUM <br> TWIST IN MY REALITY</h3>
                <img src="img/emilia-play-list.png" alt="Emilia play-list">
            <h6> 
                01.<i class="fa-solid fa-play"></i>Organic Love | 2:40 <br>
                02.<i class="fa-solid fa-play"></i>Twist My Reality | 2:10 <br>
                03.<i class="fa-solid fa-play"></i>Stret Light | 3:28 <br>
                04.<i class="fa-solid fa-play"></i>Love | 3:49</h6>
                <a href="#GoTop"> Go Top </a>
            </article>
    
    
        <article id="VIDEO1">
            <h3>VIDEO <br> ORGANIC LOVE</h3>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <h6> Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY 
                <br>Produced by NIKI HEART,<br>Wix Films LTD </h6>
                <a href="#GoTop"> Go Top </a>
        </article>

            <article id="VIDEO2">
                <h3>VIDEO <br> STREET LIGHT</h3>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <h6> Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY 
                    <br>Produced by NIKI HEART,<br>Wix Films LTD </h6>
                <a href="#GoTop"> Go Top </a>
            </article>

    </section>
    
</body>
</html>